<!DOCTYPE html>
<html>
<meta charset="utf-8"/>
<meta description="Pagina para compatir estados y muros con tus compañeros"/>
<head>
	<title>Haz ideas y compartelas y disfruta de otras ideas tambien</title>
</head>
<body>
	<header>
		<figure id="logo">
			<img src="../Static/imagenes/logo.png">
		</figure>
		<h1>
			Comunidad para personas emprendedoras.
		</h1>
	</header>
	<figure id="avatar">
		<img src="../Static/Imagenes/avatar.jpg">
	</figure>
	<nav>
		<ul>
			<li>
				<a href="#">Python</a>
			</li>
			<li>
				<a href="#">HTML5</a>
			</li>
			<li>
				<a href="#">JavaScript</a>
			</li>
			<li>
				<a href="#">CSS3</a>
			</li>
			<li>
				<a href="#">Django</a>
			</li>
			<li id="publicar_nav">
				<a href="#">Publicar</a>
			</li>
		</ul>
	</nav>
	<section id="#contenido">
		<article class="item">
			 <figure class="imagen_item">
			 	<img src="../Static/Imagenes/imagen.png">
			 </figure>
			 <h2 class="titulo_item">
			 	<a href="#">
			 		Titulo del articulo
			 	</a>
			 </h2>
			 <div class="autor_item">
			 	por <a href="#">Naomi Fernandez</a>
			 </div>
			 <div class="datos_item">
			 	<a href="#" class="tag_item">Pony</a>
			 	<span class="fecha_item">
			 		Hace<strong> 5 </strong> min
			 	</span>
			 	<a href="#" class="comentario_item">69</a>
			 	<a href="#" class="guardar_item"></a>
			 </div>

			 <div class="votacion">
			 	<a href="#" class="up"></a>
			 	720
			 	<a href="#" class="down"></a>
			 </div>
		</article>
	</section>

<footer>
	<p>
		<strong>Powerd by KLK CON KLK</strong>
	</p>
	<p>
		Yamilet Fernandez Schery
	</p>
</footer>
</body>
</html>